/.venv/*
/YOLO_v8/venv/*
trained_model/hand_gesture_cnn_with_metrics_modello1.pth
trained_model/hand_gesture_cnn_with_metrics.pth
VGG16_hande_gesture_detection_model.py
hand_gesture_CNN_model.py
*.code-workspace
__pycache__
